<div *ngIf="ready">

  <div *ngIf="!user || !isEnrolled; else courseTake" class="col-md-10 offset-md-1">
    <mahrio-course-detail-view [course]="course" [user]="user" livePreview="true"
                               (purchase)="purchase($event)"></mahrio-course-detail-view>
  </div>

  <ng-template #courseTake>
    <div class="text-center">
      <a *ngIf="user.courseOwner(course)" [routerLink]="['/courses', course.id, 'edit']">
        <i class="fa fa-cogs"></i>Edit
      </a>
    </div>
    <mahrio-course-detail-enrolled [course]="course"></mahrio-course-detail-enrolled>
  </ng-template>
</div>
