<div class="container">
  <m8io-sub-nav></m8io-sub-nav>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          My Tutorials
        </div>
        <div class="card-body">
          Coming soon.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          My Courses
        </div>
        <div class="card-body">
          Coming soon.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Courses Purchased
        </div>
        <div class="card-body">
          <ng-container *ngIf="!loading">
            <div *ngFor="let t of transactions">
              <a [routerLink]="['/courses',t.product?.link]">{{t.product?.title}}</a><hr/>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

</div>

