<ng-template #loading>
  <div class="loader"></div>
</ng-template>
<ng-template #noData>
  <p class="btn-block lead p-5 text-center bg-light">Empty.</p>
</ng-template>
<ng-template #noData2>
  <p class="btn-block lead p-5 text-center bg-light">Empty</p>
</ng-template>

<div class="container">
  <h3 class="font-weight-light mt-5 pt-5">{{entityName}}</h3>
  <div class="scrolling-wrapper-flexbox" id="sensors-shelf" *ngIf="readyE; else loading;">
    <ng-container *ngIf="articles && articles.length; else noData;">
      <div class="card mr-2" *ngFor="let article of articles" (click)="goTo(article.link)">
        <div class="card-body">
          <div style="position: absolute; right: 5px; top: 5px;" *ngIf="article.creator._id === user?.id"><a [routerLink]="['/tutorials/', article._id, 'edit']"><i class="fa fa-cog"></i> </a> </div>
          <h5 class="card-title">{{article.title}}</h5>
          <p class="card-text">{{article.deck}}</p>
        </div>
        <div class="card-footer text-right">
          <a [routerLink]="['/', entityName.toLowerCase(), article.link]" class="btn btn-primary">Read More >></a>
        </div>
      </div>
    </ng-container>
  </div>
  <h3 class="font-weight-light">Courses</h3>
  <div class="scrolling-wrapper-flexbox" id="courses-shelf" *ngIf="readyC; else loading;">
    <ng-container *ngIf="courses && courses.length; else noData2">
      <div class="card mr-2" *ngFor="let course of courses" (click)="goToCourse(course.link)">
        <div class="card-body">
          <h5 class="card-title">{{course.title}}</h5>
          <p class="card-text">{{course.deck}}</p>
        </div>
        <div class="card-footer text-right">
          <a [routerLink]="['/', 'courses', course.link]" class="btn btn-primary">Read More >></a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
