<div class="container">
  <!--<m8io-sub-nav *ngIf="user && subNav" [index]="index"></m8io-sub-nav>-->
</div>
<m8io-entity-filter [count]="pager.items.length" (textFilter)="setSearchString($event)"
                    type="course"></m8io-entity-filter>
<ng-template #loading>
  <div class="loader"></div>
</ng-template>

<ng-template #noListData>
  <p class="text-center btn-block lead p-5 bg-light">No Data.</p>
</ng-template>

<div class="container" *ngIf="ready; else loading">
  <h1 class="font-weight-light">Courses</h1>
  <mahrio-course-inventory-all *ngIf="pager.items.length; else noListData"
                               [entities]="pager.page" [user]="user"></mahrio-course-inventory-all>

  <div class="footer mt-5 mb-5" *ngIf="pager.pages > 1">
    <nav aria-label="Page navigation example">
      <ul class="pagination pagination-md justify-content-center">
        <li class="page-item p-1" [ngClass]="{'disabled': pager.isFirst}">
          <button class="btn btn-link page-link" (click)="first()">First</button>
        </li>
        <li class="page-item p-1" [ngClass]="{'disabled': !pager.hasPrev}">
          <button class="btn btn-link page-link" (click)="prev()">Previous</button>
        </li>
        <li class="page-item p-1" [ngClass]="{'disabled': pager.isPage(index - 1)}"
            *ngFor="let index of pager.pageNumbers">
          <button class="btn btn-link page-link" (click)="turnPage(index - 1)">{{index}}</button>
        </li>
        <li class="page-item p-1" [ngClass]="{'disabled': !pager.hasNext}">
          <button class="btn btn-link page-link" (click)="next()">Next</button>
        </li>
        <li class="page-item p-1" [ngClass]="{'disabled': pager.isLast}">
          <button class="btn btn-link page-link" (click)="last()">Last</button>
        </li>
      </ul>
    </nav>
  </div>
</div>
